[user]
	email = rodrigosantosmorgado@gmail.com
	name = Rodrigo Morgado
[alias]
	a = add
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	ci = commit
	cif = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
	cifh = commit --fixup HEAD
	co = checkout
	cp = cherry-pick
	di = diff
	dis = diff --staged
	l = log
	lo = log --oneline
	file-log = log -p --
	s = status -sb
	st = status
	stt = status -uno
	whoami = !git config user.name && git config user.email
	sha = log -n 1 --pretty=format:'%H'
	wt = worktree
    dt = "! branch=$1; shift 1; args=$@; shift $#; nvim -c \"DiffviewOpen $branch $args\""
    #pr-diff = "!f() { base=$(git merge-base @ \"$1\"); git diff $base...$1; }; f"
[commit]
	verbose = true
[push]
	default = current
[pull]
	default = current
[url "git@github.com:"]
	insteadOf = gh:
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	features = decorations side-by-side
	dark = true
	line-numbers = true
	theme = gruvbox-dark
[core]
	excludesfile = /home/rmorgado/.gitignore
