[user]
	email = rodrigosantosmorgado@gmail.com
	name = Rodrigo Morgado
[alias]
	a = add
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	ci = commit
	cif = commit --fixup
	co = checkout
	cp = cherry-pick
	di = diff
	dis = diff --staged
	l = log
	lo = log --oneline
	s = status -sb
	st = status
	stt = status -uno
	whoami = !git config user.name && git config user.email
	sha = log -n 1 --pretty=format:'%H'
[commit]
	verbose = true
[push]
	default = current
[pull]
	default = current
[url "git@github.com:"]
	insteadOf = gh:
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	features = decorations
	dark = true
[core]
	excludesfile = /home/rmorgado/.gitignore
